In [9]:
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm
import os
from collections import defaultdict

## Spazio Vettoriale

In [1]:
corpus = [
    ["pasta", 'pomodoro', 'olio', 'parmigiano'],
    ["parmigiano", 'melanzana', 'pomodoro'],
    ["parmigiano", 'burro', 'pecorino', 'uovo', 'pasta'],
    ["basilico", 'zucchine', 'limone'],
]

In [5]:
dictionary = set()
for document in corpus:
    for word in document:
        dictionary.add(word)

In [15]:
m = np.zeros((len(corpus), len(dictionary)))
d = list(dictionary)

for i, document in enumerate(corpus):
    for word in document:
        w = d.index(word)
        m[i, w] += 1

In [21]:
pd.DataFrame(m, columns=d)

,parmigiano,pecorino,basilico,pasta,pomodoro,melanzana,limone,olio,burro,uovo,zucchine
0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [29]:
q = ['melanzana', 'pomodoro', 'parmigiano']
vq = np.zeros(len(d))
for word in q:
    w = d.index(word)
    vq[w] += 1

In [30]:
vq

array([1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0.])

In [31]:
for i, doc in enumerate(corpus):
    r = m[i]
    print(doc, np.linalg.norm(vq - r))

['pasta', 'pomodoro', 'olio', 'parmigiano'] 1.7320508075688772
['parmigiano', 'melanzana', 'pomodoro'] 0.0
['parmigiano', 'burro', 'pecorino', 'uovo', 'pasta'] 2.449489742783178
['basilico', 'zucchine', 'limone'] 2.449489742783178

## Load data

In [2]:
folder = '/Users/flint/Data/vatican/data'
data_collection = {}
for subdir in os.listdir(folder):
    pope = subdir
    data_collection[pope] = {}
    path = os.path.join(folder, pope, 'encyclicals')
    for doc in os.listdir(path):
        subpath = os.path.join(path, doc, 'it', '{}.txt'.format(doc))
        with open(subpath, 'r') as infile:
            content = infile.read()
        data_collection[pope][doc] = content